/*1151497 - José Daniel Guarín Zapata
Archivo CSS temporal.

a{color:#FFF;
	border:1px solid #c00;
	background-color:#c00;
	text-decoration:none;
	display:inline-block;
	height:38px;
	padding:0 20px;
	line-height:40px;
	margin:0 5px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF0F5), to(#c00));background: -moz-linear-gradient(top, white, #c00);}
*/

body{
	width:95%;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;background-image:url("G:\\Documentos\\Projects\\proyecto-hoja-de-vida\\resources\\gradient.png");
	background-size: 109px 109px, 109px 109px,100% 12px, 109px 109x, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	}
	
	h1,h2,h3,h4{
	margin:5px 0;
	font-family:"Arial Black", Gadget, sans-serif;
	text-shadow: 3px 2px #8B0000;
	margin-top:10px;
	color:#ff9999;
	font-weight:bold;
		
	/*color:#c31111; 
	margin:0;*/
}

.subtitulado{
	width: 60%
	height:200px;
	text-align: center;
}
	
#logo{
width:300px;
height:100px;
margin-top:15px;
}

#fotografia{
 margin-TOP: 5px;
 border: 5px dotted green;
}

.center{
	margin:0 auto;
}

.cellimage{
	width:200px;
	height:100px;
	
}

.spaced{


}
	
/*.logoiz{
	margin-bottom:30px;
	margin-left:5px;
	width:290px; height:100px;	
}

*/